<!DOCTYPE html>
<html lang ="eng">

    <head>
        <title>Mongo Scraper</title>
            <meta charset="UFT-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|PT+Serif" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
            <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body>
        {{{body}}}
    </body>

</html>